<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="nopDataProviders">
      <section name="LogProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="SearchLogProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="CategoryProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="SettingProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="BlogProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ForumProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="NewsProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="PollProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="TopicProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="CustomerProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="CountryProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="CurrencyProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="LanguageProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="StateProvinceProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="LocaleStringResourceProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="MaintenanceProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ManufacturerProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="MeasureProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="DownloadProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="PictureProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="MessageProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="OrderProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ShoppingCartProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="CreditCardTypeProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="PaymentMethodProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="PaymentStatusProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="CheckoutAttributeProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ProductAttributeProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="SpecificationAttributeProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ProductProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="AffiliateProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="CampaignProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="DiscountProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ACLProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="BlacklistProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ShippingByTotalProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ShippingByWeightProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ShippingByWeightAndCountryProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ShippingMethodProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ShippingRateComputationMethodProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="ShippingStatusProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="TaxCategoryProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="TaxProviderProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="TaxRateProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="TemplateProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="WarehouseProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
      <section name="CustomerActivityProvider" type="NopSolutions.NopCommerce.DataAccess.DBProviderSection, Nop.DataAccess" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <nopDataProviders>
    <LogProvider defaultProvider="SqlLogProvider">
      <providers>
        <add name="SqlLogProvider" type="NopSolutions.NopCommerce.DataAccess.Audit.SqlLogProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </LogProvider>
    <SearchLogProvider defaultProvider="SqlSearchLogProvider">
      <providers>
        <add name="SqlSearchLogProvider" type="NopSolutions.NopCommerce.DataAccess.Audit.SqlSearchLogProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </SearchLogProvider>
    <CategoryProvider defaultProvider="SqlCategoryProvider">
      <providers>
        <add name="SqlCategoryProvider" type="NopSolutions.NopCommerce.DataAccess.Categories.SqlCategoryProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </CategoryProvider>
    <SettingProvider defaultProvider="SqlSettingProvider">
      <providers>
        <add name="SqlSettingProvider" type="NopSolutions.NopCommerce.DataAccess.Configuration.Settings.SqlSettingProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </SettingProvider>
    <BlogProvider defaultProvider="SqlBlogProvider">
      <providers>
        <add name="SqlBlogProvider" type="NopSolutions.NopCommerce.DataAccess.Content.Blog.SqlBlogProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </BlogProvider>
    <ForumProvider defaultProvider="SqlForumProvider">
      <providers>
        <add name="SqlForumProvider" type="NopSolutions.NopCommerce.DataAccess.Content.Forums.SqlForumProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ForumProvider>
    <NewsProvider defaultProvider="SqlNewsProvider">
      <providers>
        <add name="SqlNewsProvider" type="NopSolutions.NopCommerce.DataAccess.Content.NewsManagement.SqlNewsProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </NewsProvider>
    <PollProvider defaultProvider="SqlPollProvider">
      <providers>
        <add name="SqlPollProvider" type="NopSolutions.NopCommerce.DataAccess.Content.Polls.SqlPollProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </PollProvider>
    <TopicProvider defaultProvider="SqlTopicProvider">
      <providers>
        <add name="SqlTopicProvider" type="NopSolutions.NopCommerce.DataAccess.Content.Topics.SqlTopicProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </TopicProvider>
    <CustomerProvider defaultProvider="SqlCustomerProvider">
      <providers>
        <add name="SqlCustomerProvider" type="NopSolutions.NopCommerce.DataAccess.CustomerManagement.SqlCustomerProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </CustomerProvider>
    <CountryProvider defaultProvider="SqlCountryProvider">
      <providers>
        <add name="SqlCountryProvider" type="NopSolutions.NopCommerce.DataAccess.Directory.SqlCountryProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </CountryProvider>
    <CurrencyProvider defaultProvider="SqlCurrencyProvider">
      <providers>
        <add name="SqlCurrencyProvider" type="NopSolutions.NopCommerce.DataAccess.Directory.SqlCurrencyProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </CurrencyProvider>
    <LanguageProvider defaultProvider="SqlLanguageProvider">
      <providers>
        <add name="SqlLanguageProvider" type="NopSolutions.NopCommerce.DataAccess.Directory.SqlLanguageProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </LanguageProvider>
    <StateProvinceProvider defaultProvider="SqlStateProvinceProvider">
      <providers>
        <add name="SqlStateProvinceProvider" type="NopSolutions.NopCommerce.DataAccess.Directory.SqlStateProvinceProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </StateProvinceProvider>
    <LocaleStringResourceProvider defaultProvider="SqlLocaleStringResourceProvider">
      <providers>
        <add name="SqlLocaleStringResourceProvider" type="NopSolutions.NopCommerce.DataAccess.Localization.SqlLocaleStringResourceProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </LocaleStringResourceProvider>
    <MaintenanceProvider defaultProvider="SqlMaintenanceProvider">
      <providers>
        <add name="SqlMaintenanceProvider" type="NopSolutions.NopCommerce.DataAccess.Maintenance.SqlMaintenanceProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </MaintenanceProvider>
    <ManufacturerProvider defaultProvider="SqlManufacturerProvider">
      <providers>
        <add name="SqlManufacturerProvider" type="NopSolutions.NopCommerce.DataAccess.Manufacturers.SqlManufacturerProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ManufacturerProvider>
    <MeasureProvider defaultProvider="SqlMeasureProvider">
      <providers>
        <add name="SqlMeasureProvider" type="NopSolutions.NopCommerce.DataAccess.Measures.SqlMeasureProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </MeasureProvider>
    <DownloadProvider defaultProvider="SqlDownloadProvider">
      <providers>
        <add name="SqlDownloadProvider" type="NopSolutions.NopCommerce.DataAccess.Media.SqlDownloadProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </DownloadProvider>
    <PictureProvider defaultProvider="SqlPictureProvider">
      <providers>
        <add name="SqlPictureProvider" type="NopSolutions.NopCommerce.DataAccess.Media.SqlPictureProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </PictureProvider>
    <MessageProvider defaultProvider="SqlMessageProvider">
      <providers>
        <add name="SqlMessageProvider" type="NopSolutions.NopCommerce.DataAccess.Messages.SqlMessageProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </MessageProvider>
    <OrderProvider defaultProvider="SqlOrderProvider">
      <providers>
        <add name="SqlOrderProvider" type="NopSolutions.NopCommerce.DataAccess.Orders.SqlOrderProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </OrderProvider>
    <ShoppingCartProvider defaultProvider="SqlShoppingCartProvider">
      <providers>
        <add name="SqlShoppingCartProvider" type="NopSolutions.NopCommerce.DataAccess.Orders.SqlShoppingCartProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ShoppingCartProvider>
    <CreditCardTypeProvider defaultProvider="SqlCreditCardTypeProvider">
      <providers>
        <add name="SqlCreditCardTypeProvider" type="NopSolutions.NopCommerce.DataAccess.Payment.SqlCreditCardTypeProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </CreditCardTypeProvider>
    <PaymentMethodProvider defaultProvider="SqlPaymentMethodProvider">
      <providers>
        <add name="SqlPaymentMethodProvider" type="NopSolutions.NopCommerce.DataAccess.Payment.SqlPaymentMethodProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </PaymentMethodProvider>
    <PaymentStatusProvider defaultProvider="SqlPaymentStatusProvider">
      <providers>
        <add name="SqlPaymentStatusProvider" type="NopSolutions.NopCommerce.DataAccess.Payment.SqlPaymentStatusProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </PaymentStatusProvider>
    <CheckoutAttributeProvider defaultProvider="SqlCheckoutAttributeProvider">
      <providers>
        <add name="SqlCheckoutAttributeProvider" type="NopSolutions.NopCommerce.DataAccess.Products.Attributes.SqlCheckoutAttributeProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </CheckoutAttributeProvider>
    <ProductAttributeProvider defaultProvider="SqlProductAttributeProvider">
      <providers>
        <add name="SqlProductAttributeProvider" type="NopSolutions.NopCommerce.DataAccess.Products.Attributes.SqlProductAttributeProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ProductAttributeProvider>
    <SpecificationAttributeProvider defaultProvider="SqlSpecificationAttributeProvider">
      <providers>
        <add name="SqlSpecificationAttributeProvider" type="NopSolutions.NopCommerce.DataAccess.Products.Specs.SqlSpecificationAttributeProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </SpecificationAttributeProvider>
    <ProductProvider defaultProvider="SqlProductProvider">
      <providers>
        <add name="SqlProductProvider" type="NopSolutions.NopCommerce.DataAccess.Products.SqlProductProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ProductProvider>
    <AffiliateProvider defaultProvider="SqlAffiliateProvider">
      <providers>
        <add name="SqlAffiliateProvider" type="NopSolutions.NopCommerce.DataAccess.Promo.Affiliates.SqlAffiliateProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </AffiliateProvider>
    <CampaignProvider defaultProvider="SqlCampaignProvider">
      <providers>
        <add name="SqlCampaignProvider" type="NopSolutions.NopCommerce.DataAccess.Promo.Campaigns.SqlCampaignProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </CampaignProvider>
    <DiscountProvider defaultProvider="SqlDiscountProvider">
      <providers>
        <add name="SqlDiscountProvider" type="NopSolutions.NopCommerce.DataAccess.Promo.Discounts.SqlDiscountProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </DiscountProvider>
    <ACLProvider defaultProvider="SqlAclProvider">
      <providers>
        <add name="SqlAclProvider" type="NopSolutions.NopCommerce.DataAccess.Security.SqlAclProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ACLProvider>
    <BlacklistProvider defaultProvider="SqlBlacklistProvider">
      <providers>
        <add name="SqlBlacklistProvider" type="NopSolutions.NopCommerce.DataAccess.Security.SqlBlacklistProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </BlacklistProvider>
    <ShippingByTotalProvider defaultProvider="SqlShippingByTotalProvider">
      <providers>
        <add name="SqlShippingByTotalProvider" type="NopSolutions.NopCommerce.DataAccess.Shipping.SqlShippingByTotalProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ShippingByTotalProvider>
    <ShippingByWeightProvider defaultProvider="SqlShippingByWeightProvider">
      <providers>
        <add name="SqlShippingByWeightProvider" type="NopSolutions.NopCommerce.DataAccess.Shipping.SqlShippingByWeightProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ShippingByWeightProvider>
    <ShippingByWeightAndCountryProvider defaultProvider="SqlShippingByWeightAndCountryProvider">
      <providers>
        <add name="SqlShippingByWeightAndCountryProvider" type="NopSolutions.NopCommerce.DataAccess.Shipping.SqlShippingByWeightAndCountryProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ShippingByWeightAndCountryProvider>
    <ShippingMethodProvider defaultProvider="SqlShippingMethodProvider">
      <providers>
        <add name="SqlShippingMethodProvider" type="NopSolutions.NopCommerce.DataAccess.Shipping.SqlShippingMethodProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ShippingMethodProvider>
    <ShippingRateComputationMethodProvider defaultProvider="SqlShippingRateComputationMethodProvider">
      <providers>
        <add name="SqlShippingRateComputationMethodProvider" type="NopSolutions.NopCommerce.DataAccess.Shipping.SqlShippingRateComputationMethodProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ShippingRateComputationMethodProvider>
    <ShippingStatusProvider defaultProvider="SqlShippingStatusProvider">
      <providers>
        <add name="SqlShippingStatusProvider" type="NopSolutions.NopCommerce.DataAccess.Shipping.SqlShippingStatusProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </ShippingStatusProvider>
    <TaxCategoryProvider defaultProvider="SqlTaxCategoryProvider">
      <providers>
        <add name="SqlTaxCategoryProvider" type="NopSolutions.NopCommerce.DataAccess.Tax.SqlTaxCategoryProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </TaxCategoryProvider>
    <TaxProviderProvider defaultProvider="SqlTaxProviderProvider">
      <providers>
        <add name="SqlTaxProviderProvider" type="NopSolutions.NopCommerce.DataAccess.Tax.SqlTaxProviderProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </TaxProviderProvider>
    <TaxRateProvider defaultProvider="SqlTaxRateProvider">
      <providers>
        <add name="SqlTaxRateProvider" type="NopSolutions.NopCommerce.DataAccess.Tax.SqlTaxRateProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </TaxRateProvider>
    <TemplateProvider defaultProvider="SqlTemplateProvider">
      <providers>
        <add name="SqlTemplateProvider" type="NopSolutions.NopCommerce.DataAccess.Templates.SqlTemplateProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </TemplateProvider>
    <WarehouseProvider defaultProvider="SqlWarehouseProvider">
      <providers>
        <add name="SqlWarehouseProvider" type="NopSolutions.NopCommerce.DataAccess.Warehouses.SqlWarehouseProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </WarehouseProvider>
    <CustomerActivityProvider defaultProvider="SqlCustomerActivityProvider">
      <providers>
        <add name="SqlCustomerActivityProvider" type="NopSolutions.NopCommerce.DataAccess.Audit.SqlCustomerActivityProvider, Nop.DataAccess.SqlServer" connectionStringName="NopSqlConnection"/>
      </providers>
    </CustomerActivityProvider>
  </nopDataProviders>
  
  <connectionStrings>
    <!--<add name="NopSqlConnection" connectionString="Data Source=10.10.5.210;Initial Catalog=DBNopCommerce;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=tennis99;Connect Timeout=120" />-->
    <add name="NopSqlConnection" connectionString="Data Source=192.168.0.3;Initial Catalog=DBNopCommerce;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=vinatennis100;Connect Timeout=220"/>
    
    <add name="LWG.Core.Properties.Settings.DBNopCommerceConnectionString"
        connectionString="Data Source=10.10.5.210;Initial Catalog=DBNopCommerce;Persist Security Info=True;User ID=sa;Password=tennis99"
        providerName="System.Data.SqlClient" />
    <add name="LWG.Core.Properties.Settings.NopCommerce_DBConnectionString"
        connectionString="Data Source=10.10.5.210;Initial Catalog=DBNopCommerce;Persist Security Info=True;User ID=sa;Password=tennis99"
        providerName="System.Data.SqlClient" />
    <add name="LWG.Core.Properties.Settings.DBNopCommerceConnectionString1"
        connectionString="Data Source=192.168.0.3;Initial Catalog=DBNopCommerce;Persist Security Info=True;User ID=sa;Password=vinatennis100"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>